/*========= main style ==========*/

.section-item{
	min-height: 100px;
	background: #eff3f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 42px;
	margin-bottom: 25px;
}

.section-item-nomarge{
	margin-bottom: 	0;
}

.section-item-content{
	margin-top: 20px;
}

.section-user{
	float: left;
}

.section-user-pic{
	width: 146px;
	height: 146px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid #3ba8c0;
	margin-left: 53px;
	margin-top: 12px;
}

.section-user-img{
	width: 100%;
}

.section-item-data{
	float: right;
	margin-right: 14px;
}

.data-item{
	margin-bottom: 12px;
}

.data-item:last-child{
	margin-bottom: 0;
}

.data-item-dsrpt{
	max-width: 235px;
	font-family: 'fira_book';
	font-size: 15px;
	line-height: 20px;
	overflow: hidden;
	margin-left: 20px;
	color: #606972;
}

.data-item-label,
.data-item-dsrpt{
	float: left;
}

.data-item-label{
	font-family: 'fira_medium';
	font-size: 17px;
	line-height: 22px;
	color: #4a545d;
}


.data-skils-item{
	display: inline-block;
    min-width: 32px;
    height: 20px;
    background: linear-gradient(to bottom, #3ba8c0 50%, #2e8ca2 51%);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0 7px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 7px;
}


.section-item-about{
	position: relative;
	margin-bottom: 16px;
	padding-right:30px;
	padding-left: 125px;
}

.section-item-about:before{
	content: "";
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 50%;
	margin-top: -23px;
	background: url(../images/about/spritesheet.png) -13px -15px no-repeat;
}

.section-item-about:last-child{
	margin-bottom: 0;
}

.section-item-about.educ-icon:before{
	background: url(../images/about/spritesheet.png) -18px -158px no-repeat;
}

.section-item-about.diplom-icon:before{
	background: url(../images/about/spritesheet.png) -8px -90px no-repeat;
}

.section-about-title{
	font-family: 'fira_book';
	font-size: 17px;
	line-height: 21px;
	color: #6b747c;
	margin-bottom: 5px;
}

.section-about-year{
	font-family: 'fira_light';
	font-size: 15px;
	line-height: 18px;
	color: #818990;
}