.left{
	float: left;
}

.right{
	float: right;
}

.section-content{
	float: right;
}

.section-form{
	background: #eff3f7;
	min-height: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 40px;
	overflow: hidden;
}

.section-form-wrapp{
	width: 402px;
	margin: 0 auto;
}

.section-form-header{
	height: 121px;
	background: #48cbe8;
	border-bottom: 17px solid #67dffa;
	text-align: center;
	position: relative;
	margin-bottom: 48px;
}

.section-title-head.title-sendme{
	display: inline-block;
	color: #fff;
	font-size: 27px;
	line-height: 121px;
	font-family: 'fira_light';
}

.section-form-block{
	margin-bottom: 18px;
}

.section-block-title{
	font-size: 19px;
	line-height: 23px;
	font-family: 'fira_light';
	color: #a1a6b3;
}

.input-area,
.textarea-block,
.section-form-captcha{
	border: 1px solid #48cbe8;
	border-radius: 3px;
	font-size: 14px;
	line-height: 17px;
	font-family: 'fira_book';
	color: #727272;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder {color:#48cbe8; font-size: 13px; padding-top: 4px;}
::-moz-placeholder          {color:#48cbe8; font-size: 13px; padding-top: 4px;}/* Firefox 19+ */
:-moz-placeholder           {color:#48cbe8; font-size: 13px; padding-top: 4px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48cbe8; font-size: 13px; padding-top: 4px;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


.input-area,
.section-form-captcha,
.input-captcha{
	width: 192px;
	height: 39px;
}

.textarea-block{
	width: 402px;
	height: 182px;
	resize: none;
	padding-top: 10px;
}

.captcha-img,
.captcha-enter{
	display: inline-block;
	vertical-align: middle;
}

.captcha-enter{
	margin-left: 13px;
	height: 36px;
}

.section-form-captcha{
	height: 78px;
	background: #fff;
}

.input-captcha{
	height: 30px;
}

.button-input{
	width: 135px;
	height: 30px;
	border-radius: 5px;
	background: #48cbe8;
	border: none;
	font-size: 19px;
	font-family: 'fira_book';
	color: #fff;
}

.button-submit{
	border-bottom: 2px solid #3ba8c0;
}

.button-submit:hover{
	background: #39aec8;
}

.button-reset{
	background: #849db5;
	border-bottom: 2px solid #687b8f;
}

.button-reset:hover{
	background: #66788a;
}

.has-error{
	border: 1px solid #f97e76;
	background: #fad2d1;
}